<div class="row">
	<div class="col-md-12">
		<div class="panel rounded shadow no-overflow">
			<div class="panel-sub-heading inner-all">
				<div class="pull-left">
					<div class="">
						<a ng-href="#/newstore"
							class="btn btn-sm btn-primary btn-xs btn-push"><i
							class="fa fa-pencil"></i> 添加门店</a>
					</div>
				</div>
				<div class="pull-right"></div>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body">
				<table data-datatable-ajax
					class="table table-teal table-bordered hover cell-border dataTable">
					<thead>
						<tr>
							<th>门店名称</th>
							<th data-hide="phone">门店电话</th>
							<th data-hide="phone,tablet">门店编号</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</div>

